# Nuphy Devices
# This file should be installed to /etc/udev/rules.d so that you can access Nuphy Devices with via without being root.
#
# type this at the command prompt: sudo cp nuphy.rules /etc/udev/rules.d


# Nuphy Devices
# This file should be installed to /etc/udev/rules.d so that you can access Nuphy Devices with via without being root.
#
# type this at the command prompt: sudo cp nuphy.rules /etc/udev/rules.d


# Nuphy Air96 v2            -> 3265   
# Nuphy Air75 v2            -> 3245
# Nuphy Air60 v2            -> 3255
# Nuphy Air60 HE            -> fee0
# NuPhy Gem80               -> 3275
# NuPhy Halo75              -> 32F5
# NuPhy Halo96              -> 3302
# NuPhy Nos75               -> 3235
# NuPhy Kick75              -> 1026
# NuPhy Kick75 Upgrader     -> 0720
# NuPhy Dongle              -> 2620
# Nuphy Halo65 HE           -> 6112
# NuPhy Air75 v3            -> 1028
# NuPhy Air75 v3 Upgrader   -> 0722
# Nuphy Air75 HE            -> 6120
# NuPhy Air75 v3 ISO        -> 102a
# NuPhy Field75 HE          -> fe70
# NuPhyX BH65               -> 6130
# Nuphy Node75 LP           -> 1030
# Nuphy Node75 LP Upgrader  -> 0730
# Nuphy Node100 LP          -> 1037
# Nuphy Node100 LP Upgrader -> 0737
# NuPhy Node100 LP ISO      -> 103b

SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTR{idVendor}=="19f5", ATTR{idProduct}=="3265", MODE="0666"
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTR{idVendor}=="19f5", ATTR{idProduct}=="3245", MODE="0666"
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTR{idVendor}=="19f5", ATTR{idProduct}=="3255", MODE="0666"
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTR{idVendor}=="19f5", ATTR{idProduct}=="3275", MODE="0666"
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTR{idVendor}=="19f5", ATTR{idProduct}=="32F5", MODE="0666"
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTR{idVendor}=="19f5", ATTR{idProduct}=="3302", MODE="0666"
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTR{idVendor}=="19f5", ATTR{idProduct}=="3235", MODE="0666"
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTR{idVendor}=="19f5", ATTR{idProduct}=="fee0", MODE="0666"
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTR{idVendor}=="19f5", ATTR{idProduct}=="1026", MODE="0666"
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTR{idVendor}=="19f5", ATTR{idProduct}=="0720", MODE="0666"
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTR{idVendor}=="19f5", ATTR{idProduct}=="2620", MODE="0666"
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTR{idVendor}=="19f5", ATTR{idProduct}=="6112", MODE="0666"
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTR{idVendor}=="19f5", ATTR{idProduct}=="1028", MODE="0666"
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTR{idVendor}=="19f5", ATTR{idProduct}=="0722", MODE="0666"
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTR{idVendor}=="19f5", ATTR{idProduct}=="6120", MODE="0666"
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTR{idVendor}=="19f5", ATTR{idProduct}=="fe70", MODE="0666"
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTR{idVendor}=="19f5", ATTR{idProduct}=="102a", MODE="0666"
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTR{idVendor}=="19f5", ATTR{idProduct}=="6130", MODE="0666"
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTR{idVendor}=="19f5", ATTR{idProduct}=="1030", MODE="0666"
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTR{idVendor}=="19f5", ATTR{idProduct}=="0730", MODE="0666"
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTR{idVendor}=="19f5", ATTR{idProduct}=="1037", MODE="0666"
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTR{idVendor}=="19f5", ATTR{idProduct}=="0737", MODE="0666"
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTR{idVendor}=="19f5", ATTR{idProduct}=="103b", MODE="0666"

KERNEL=="hidraw*", ATTRS{idVendor}=="19f5", ATTRS{idProduct}=="3265", MODE="0666"
KERNEL=="hidraw*", ATTRS{idVendor}=="19f5", ATTRS{idProduct}=="3245", MODE="0666"
KERNEL=="hidraw*", ATTRS{idVendor}=="19f5", ATTRS{idProduct}=="3255", MODE="0666"
KERNEL=="hidraw*", ATTRS{idVendor}=="19f5", ATTRS{idProduct}=="3275", MODE="0666"
KERNEL=="hidraw*", ATTRS{idVendor}=="19f5", ATTRS{idProduct}=="32F5", MODE="0666"
KERNEL=="hidraw*", ATTRS{idVendor}=="19f5", ATTRS{idProduct}=="3302", MODE="0666"
KERNEL=="hidraw*", ATTRS{idVendor}=="19f5", ATTRS{idProduct}=="3235", MODE="0666"
KERNEL=="hidraw*", ATTRS{idVendor}=="19f5", ATTRS{idProduct}=="fee0", MODE="0666"
KERNEL=="hidraw*", ATTRS{idVendor}=="19f5", ATTRS{idProduct}=="1026", MODE="0666"
KERNEL=="hidraw*", ATTRS{idVendor}=="19f5", ATTRS{idProduct}=="0720", MODE="0666"
KERNEL=="hidraw*", ATTRS{idVendor}=="19f5", ATTRS{idProduct}=="2620", MODE="0666"
KERNEL=="hidraw*", ATTRS{idVendor}=="19f5", ATTRS{idProduct}=="6112", MODE="0666"
KERNEL=="hidraw*", ATTRS{idVendor}=="19f5", ATTRS{idProduct}=="1028", MODE="0666"
KERNEL=="hidraw*", ATTRS{idVendor}=="19f5", ATTRS{idProduct}=="0722", MODE="0666"
KERNEL=="hidraw*", ATTRS{idVendor}=="19f5", ATTRS{idProduct}=="6120", MODE="0666"
KERNEL=="hidraw*", ATTRS{idVendor}=="19f5", ATTRS{idProduct}=="fe70", MODE="0666"
KERNEL=="hidraw*", ATTRS{idVendor}=="19f5", ATTRS{idProduct}=="102a", MODE="0666"
KERNEL=="hidraw*", ATTRS{idVendor}=="19f5", ATTRS{idProduct}=="6130", MODE="0666"
KERNEL=="hidraw*", ATTRS{idVendor}=="19f5", ATTRS{idProduct}=="1030", MODE="0666"
KERNEL=="hidraw*", ATTRS{idVendor}=="19f5", ATTRS{idProduct}=="0730", MODE="0666"
KERNEL=="hidraw*", ATTRS{idVendor}=="19f5", ATTRS{idProduct}=="1037", MODE="0666"
KERNEL=="hidraw*", ATTRS{idVendor}=="19f5", ATTRS{idProduct}=="0737", MODE="0666"
KERNEL=="hidraw*", ATTRS{idVendor}=="19f5", ATTRS{idProduct}=="103b", MODE="0666"


# This file should be installed to /etc/udev/rules.d so that you can access Nuphy Devices with via without being root.
#
# type this at the command prompt: sudo cp nuphy.rules /etc/udev/rules.d
